<html>
    <head>
        <title>Compiler</title>
    </head>
    <body>
        <form action="/choice">
            <center>
                <h1><font color = "red">Online Compiler</font></h1><br>
                <h3>Login</h3><br>
                <input type="submit" value = "Login" name = "goto"><br><br><br>
                <h3>Register</h3><br>
                <input type="submit" value = "Register" name = "goto"><br><br><br>
                <h3>Register Question</h3><br>
                <input type="submit" value = "RegisterQ" name = "goto"><br><br><br>
                <h3>Add Testcase for a Question</h3><br>
                <input type="submit" value = "RegisterTestcase" name = "goto"><br><br><br>
            </center>
        </form>
    </body>
</html>
