<html>
    <head></head>

    <body>
        <form action="/newout">
           <center>
                <h1><font color = "red">QUESTION</font></h1><br>
                {% block result %}
                {% endblock %}
               <table cellspacing = "50">
                   <caption><b><font color = "blue">* can be left blank if adding additional testcase</font></b></caption>
                    <tr>
                       <td><b>Organization ID: </b></td>
                       <td><input type="text" name = 'org_id' size = '30'></td>
                    </tr>
                    <tr>
                    <td><b>Set ID: </b></td>
                    <td><input type="text" name = 'set_id' size = '30'></td>
                    </tr>
                    <tr>
                        <td><b>Question ID: </b></td>
                        <td><input type="text" name = 'ques_id' size = '30'></td>
                    </tr>
                    <tr>
                        <td><b>Question Title:<sup><font color = "blue">*</font></sup></b></td>
                        <td><input type="text" name = 'ques_title' size = '30'></td>
                    </tr>
                    <tr>
                        <td><b>Question:<sup><font color = "blue">*</font></sup> </b></td>
                        <td><textarea name='ques' cols="30" rows="10"></textarea></td>
                    </tr>
                    <tr>
                        <td><b>STDIN: </b></td>
                        <td><textarea name='stdin' cols="30" rows="10"></textarea></td>
                    </tr>
                    <tr>
                        <td><b>Expected Output: </b></td>
                        <td><textarea name='expected_output' cols="30" rows="10"></textarea></td>
                    </tr>
               </table>
               <input type="submit">
               <br><br>
           </center>
        </form>
    </body>
</html>