<html>
<center>
<span>
    <table width = "700" height = "200" border = "1">
        <caption><h3>Testcase 1</h3></caption><br>
        <tr>
            <td align="center"><b>stdin:  </b></td>
            <td align="center">{{testcases.1.stdin}}</td>
        </tr>
        <tr>
            <td align="center"><b>stdout:  </b></td>
            <td align="center">{{output.0.stdout}}</td>
        </tr>
        <tr>
            <td align="center"><b>Description:  </b></td>
            <td align="center">{{output.0.status.description}}
        </tr>
    </table>
</span><br>
<span>
    <table width = "700" height = "200" border = "1">
        <caption><h3>Testcase 2</h3></caption><br>
        <tr>
            <td align="center"><b>stdin:  </b></td>
            <td align="center">{{testcases.2.stdin}}</td>
        </tr>
        <tr>
            <td align="center"><b>stdout:  </b></td>
            <td align="center">{{output.1.stdout}}</td>
        </tr>
        <tr>
            <td align="center"><b>Description:  </b></td>
            <td align="center">{{output.1.status.description}}
        </tr>
    </table>
</span><br>
<span>
    <table width = "700" height = "200" border = "1">
        <caption><h3>Testcase 3</h3></caption><br>
        <tr>
            <td align="center"><b>stdin:  </b></td>
            <td align="center">{{testcases.3.stdin}}</td>
        </tr>
        <tr>
            <td align="center"><b>stdout:  </b></td>
            <td align="center">{{output.2.stdout}}</td>
        </tr>
        <tr>
            <td align="center"><b>Description:  </b></td>
            <td align="center">{{output.2.status.description}}
        </tr>
    </table>
</span>
<center>
        {{d}}
        {% for x in d %}
            <table width = "700" height = "200" border = "1">
                <caption><h3>Testcase {{x.0}}</h3></caption><br>
                <tr>
                    <td align="center"><b>stdin:  </b></td>
                    <td align="center">{{x.1}}</td>
                </tr>
                <tr>
                    <td align="center"><b>stdout:  </b></td>
                    <td align="center">{{x.2}}</td>
                </tr>
                <tr>
                    <td align="center"><b>Description:  </b></td>
                    <td align="center">{{x.3}}
                </tr>
            </table>
        {% endfor %}
    </center>
</center>
</html>
