<html>
    <head>
        <title>Register</title>
    </head>

    <body>
        <form action="/register">
            <center>
                <h1><font color = "blue">Registeration Form</font></h1><br>
                <h2><font color = "red">{{output}}</font></h2><br>
                <table cellpadding = "20">
                    <tr>
                        <td><h3>First Name: </h3></td>
                        <td><input type="text" name = 'fn'></td>
                    </tr>
                    <tr>
                        <td><h3>Last Name: </h3></td>
                        <td><input type="text" name = 'ln'></td>
                    </tr>
                    <tr>
                        <td><h3>Email: </h3></td>
                        <td><input type="email" name = 'email'></td>
                    </tr>
                    <tr>
                        <td><h3>Mobile: </h3></td>
                        <td><input type="text" name = 'mob'></td>
                    </tr>
                    <tr>
                        <td><h3>Password: </h3></td>
                        <td><input type="password" name = 'pass'></td>
                    </tr>
                </table>
                <input type="submit">
            </center>
        </form>
    </body>
</html>